.chat-input {
    width: calc(100% - 20px); /* Subtract padding */
    padding: 10px;
    border: none;
    border-radius: 25px; /* Make input box rounder */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 16px;
    margin: 10px;
    background-color: #FFB6C1; /* Match user's message bubble color */
}
.input-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white; /* Match the background color of your page */
}
.input-icons img {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.chat-message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.chat-message.user {
    justify-content: flex-end;
}
.chat-message-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat-message-content.user {
    flex-direction: row-reverse;
}
.chat-message-bubble {
    position: relative;
    background-color: #ADD8E6;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}
.chat-message-bubble.user {
    background-color: #FFB6C1;
}
.chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid #ADD8E6;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0;
    left: -10px;
}
.chat-message-arrow.user {
    border-top: 10px solid #FFB6C1;
    right: -10px;
    left: auto;
}
.profile-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.username {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 60px;  /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: wiggle 1s infinite;
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
    transform-style: preserve-3d;
}

@keyframes wiggle {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    50% {
      transform: translateX(-50%) rotate(5deg);
    }
    100% {
      transform: translateX(-50%) rotate(0deg);
    }
  }

.label-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.label-container:hover .username {
    opacity: 1;
}

/* Allows placing custom text before username
.username::before {
  content: '- ';
}
*/

.chat-message-content:hover .username {
  visibility: visible;
}

  
.profile-image:hover + .username {
    visibility: visible;
}
  

.input-file-hidden {
    display: none;
}  